@inject BlazorService BlazorService

<div class="modal" style="display:@(IsVisible ? "block" : "none");">
    <div class="modal-backdrop" @onclick="ToggleModal"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="@ModelSize" OnValidSubmit="@OnSubmit">
                <div>
                    <label>Size: </label>
                    <InputSelect @bind-Value="@ModelSize.SizeId">
                        @foreach (var size in BlazorService.Sizes)
                        {
                            <option value="@size.Id">@size.Name</option>
                        }
                    </InputSelect>
                </div>
                <div>
                    <label>Quantity: </label>
                    <InputNumber @bind-Value="@ModelSize.Count" />
                </div>
                <div>
                    <label>Color: </label>
                    <InputSelect @bind-Value="@ModelSize.ColorId">
                        @foreach (var size in BlazorService.Colors)
                        {
                            <option value="@size.Id">@size.Name</option>
                        }
                    </InputSelect>
                </div>
                <button type="submit">Add</button>
                <button type="button" @onclick="Hide">Close</button>
            </EditForm>
            
        </div>
    </div>
</div>

@code {
    private SizeModel ModelSize = new();
    private bool IsVisible { get; set; } = false;

    [Parameter] public EventCallback<SizeModel> OnSizeAdded { get; set; }

    private async Task OnSubmit()
    {
        await OnSizeAdded.InvokeAsync(ModelSize);
        ModelSize = new SizeModel();
        ToggleModal();
    }

    public void ToggleModal()
    {
        IsVisible = !IsVisible;
        StateHasChanged();
    }
    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }
}
