@inject BlazorService BlazorService

<div class="modal" style="display:@(IsVisible ? "block" : "none");">
    <div class="modal-backdrop" @onclick="ToggleModal"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="@ModelSeason" OnValidSubmit="@OnSubmit">
                <div>
                    <label>Season: </label>
                    <InputSelect @bind-Value="@ModelSeason.Id">
                        @foreach (var season in BlazorService.Seasons)
                        {
                            <option value="@season.Id">@season.Name</option>
                        }
                    </InputSelect>
                </div>
                <button type="submit">Add</button>
                <button type="reset" @onclick="Hide">Close</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private Season ModelSeason = new();
    private bool IsVisible { get; set; } = false;

    [Parameter] public EventCallback<string> OnSeason { get; set; }

    private async Task OnSubmit()
    {
        var selectedSeasons = BlazorService.Seasons.Find(s => s.Id == ModelSeason.Id);
        await OnSeason.InvokeAsync(selectedSeasons.Name);
        ToggleModal();
    }

    public void ToggleModal()
    {
        ModelSeason = new();
        IsVisible = !IsVisible;
        StateHasChanged();
    }
    public void Hide()
    {
        IsVisible = !IsVisible;
        StateHasChanged();
    }
}
